<h2>
  Game statistics
</h2>
<table class='table table-striped'>
    <thead>
        <tr>
            <th>Player name</th>
            <th>Units</th>
            <th>Score</th>
            <th *ngIf="winner">Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td>{{player.units}}</td>
          <td>{{player.points}}</td>
          <td *ngIf="winner">{{player.winStatus}}</td>
        </tr>
    </tbody>
</table>
