<div class="wrapper">
<div class="overlay" *ngIf="!started">
  <div class="info">
    <button (click)="started=!started" class="btn btn-message">Продолжить</button>
    <div class="rules">
      <p>Для создания блока используйте двойное нажите по полю или прикосновение на touch-устройстве.</p>
      <p>Для перемещения блоков используйте drag & drop.</p>
      <p>Перемещайте свои блоки на блоки противника для получения очков.</p>
    </div>
  </div>
</div>
<div
  class="base"
  id="base"
  (drop)="drop($event)"
  (touchmove)="prevent($event)"
  (dragover)="dragover($event)"
  (dblclick)="baseDbClick($event)"
  (touchstart)="baseDbClick($event)"  
  >
  <ul class="messages help">
    <li>Очки игрока {{name}}: {{points}}</li>
  </ul>
  <ul id="messages" class="messages"></ul>
  <div *ngFor="let unit of units"
    class="unit"
    draggable="true"
    [id]="unit.target"
    [style.top]=unit.clientY
    [style.left]=unit.clientX
    (click)="info($event)"
    (dragstart)="dragstart($event)"
    (touchstart)="dragstart($event)"
    (touchend)="drop($event)"
    >
    {{unit.name}}
  </div>
</div>
<div class="interface">
  <input
  class="input-message"
  type="text"
  (keyup.enter)="sendHello()"
  (keyup.enter)="mInput.value=''"
  [(ngModel)]="text"
  #mInput>
  <button class="btn-message btn" (click)="sendHello()" [disabled]="!mInput.value" (click)="mInput.value=''">Send message</button>
  <button id="create-btn" class="btn-create btn" (click)="baseDbClick($event)">Create new unit</button>
</div>
<audio id="audio-cr" src="https://www.soundjay.com/button/beep-25.mp3" autostart="false" ></audio>
<audio id="audio-er" src="https://www.soundjay.com/button/button-42.mp3" autostart="false" ></audio>
<audio id="audio-drag" src="https://www.soundjay.com/button/button-43.mp3" autostart="false" ></audio>
<audio id="audio-destroy" src="https://www.soundjay.com/button/button-48.mp3" autostart="false" ></audio>
</div>