$dark-blue: rgba(29, 53, 87, 1);
$blue: rgba(69, 123, 157, 1);
$cream: rgba(241, 250, 238, 1);
$red: rgba(230, 57, 70, 1);
$light-blue: rgba(168, 218, 220, 1);

@keyframes color-change {
    0%   {background-color: $dark-blue; border-radius: 0; transform: scale(1)}
    25%  {background-color: $blue; border-radius: 50%; transform: scale(.7)}
    50%  {background-color: $cream; border-radius: 0; transform: scale(1.2)}
    75%  {background-color: $red; border-radius: 50%; transform: scale(.5)}
    100% {background-color: $light-blue; border-radius: 0; transform: scale(1)}
}

.wrapper {
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.info {
    text-align: center;
}

.rules {
    margin-top: 20px;
    color: $cream;
    font-size: 20px;
    text-align: center;
}

.base {
    user-select: none;
    background-color: $dark-blue;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.messages {
    padding: 0 0 0 10px;
    font-size: 16px;
    list-style: none;
    user-select: none;
    color: $dark-blue;
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: $light-blue;
    max-height: 75px;
    overflow-y: hidden;
}

.help {
    background: transparent;
    top: 0px;
    color: $cream;
}

.unit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 60px;
    box-sizing: border-box;
    padding: 5px;
    color: $cream;
    text-align: center;
    font-size: 1.2em;
    border: 2px solid $cream;
    width: 80px;
    height: 60px;
    background-color: $red;
    position: absolute;
    border-radius: 0;
    transition: all .3s ease-in-out;
    animation: color-change 8s ease-in .5s infinite;
}

.unit-name {
    user-select: none;
}

.interface {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input-message {
    flex: 2;
}



