/* You can add global styles to this file, and also import other style files */
$dark-blue: rgba(29, 53, 87, 1);
$blue: rgba(69, 123, 157, 1);
$cream: rgba(241, 250, 238, 1);
$red: rgba(230, 57, 70, 1);
$light-blue: rgba(168, 218, 220, 1);

.btn {
    border: none;
    color: #EFE9F4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.btn-default {
    background-color: $blue;
}

.btn-create {
    background-color: $blue;
    flex: 1;
}

.btn-message {
    background-color: $red;
    flex: 1;
}

.btn-danger {
    background-color: $red;
}